<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
      
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
      
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.team1.proj.controller"/>
    <mvc:annotation-driven/>
    
    
        <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
          <property name="prefix">
              <value>/WEB-INF/JSP/</value>
           </property>
          <property name="suffix">
             <value>.jsp</value>
          </property>
          <property name="order" value="2" />
    </bean>
       
    <bean id="brukerdata" class ="com.team1.proj.brukerklasser.Brukerdata"/>
    <bean id="brukerService" class ="com.team1.proj.service.BrukerServiceImpl"/>
    <bean id="repository" class ="com.team1.proj.repository.BrukerTemplateRepositoryImpl"/>
    
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <bean id="dataSource"
         class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName">
            <value>org.apache.derby.jdbc.ClientDriver</value>
        </property>

        <property name="url">
            <value>jdbc:derby://localhost:1527/sysdbtest</value>
        </property>

        <property name="username">
            <value>brukernavn</value>
        </property>

        <property name="password">
            <value>passord</value>
        </property>
    </bean>
    
</beans>
