
#cage{
    position: absolute;
    height:502px; 
    width:156px;
    bottom:10px;
    left:95px;
    background-image: url("../bilder/bur.png");
    z-index: 2;
}

#container {
    background-image: url("../bilder/scene_bur.jpg");
}

#canvas {
    top: 67px;
}

#oppgavetekst{
    z-index: 3;
}
