/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.jan.2015, 13:39:57
    Author     : microtonickitten
*/

#container {
    width: 800px;
    height: 450px;
}

 #canvas{ 
    left: 11px;
    top: 17px;
    z-index: 1;
 }
 
#container {
    width: 800px;
    height: 450px;
    background-image: url("../bilder/map.jpg");
}
 
 #level{
     position: absolute;
     left: 830px;
     height: 494px;
     top: 0px;
     padding-top: 11px;
 }
 
 a, a:visited, a:hover{
     text-decoration: none;
     color: black;
 }
 
 #start{
     opacity: 0;
     font-family: sans-serif;
     font-size: 12pt;
     border-style: solid;
     padding: 7px;
     border-width: thin;
     background-color: #f3f3f3;
     border-color: darkgrey;
     border-radius: 3px;
     text-decoration: none;
 }
 
 #spill{
     width: 1000px;
     padding-top: 13px;
 }
 
 .grontlys{
position: absolute;
z-index: 1;
}

#gronn1{
top: 231px;
left: 67px;
opacity: 0;
}

#gronn2{
top: 231px;
left: 244px;
opacity: 0;
}

#gronn3{
top: 395px;
left: 244px;
opacity: 0;
}

#gronn4{
top: 332px;
left: 584px;
opacity: 0;
}

#gronn5{
top: 332px;
left: 737px;
opacity: 0;
}

#gronn6{
top: 70px;
left: 736px;
opacity: 0;
}

#gronn7{
top: 69px;
left: 557px;
opacity: 0;
}

#gronn8{
top: 69px;
left: 395px;
opacity: 0;
}