/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.jan.2015, 13:39:57
    Author     : microtonickitten
*/

#container {
    background-image: url("../bilder/scene_linker.jpg"); 
}

 #canvas{ 
    top: 72px;
 }
 
 .lilla{
     color: white;
 }
 #link1{
     bottom: 80px;
     left: 130px;
     position: absolute;
     z-index: 1;
 }
 #link2{
     bottom: 20px;
     left: 385px;
     position: absolute;
     z-index: 1;
 }
 #link3{
     bottom: 150px;
     left: 405px;
     position: absolute;
     z-index: 1;
 }
 #link4{
     bottom: 80px;
     left: 540px;
     position: absolute;
     z-index: 1;
     color: white;
 }
 