/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.jan.2015, 13:39:57
    Author     : microtonickitten
*/

#container {
    background-image: url("../bilder/scene_boss.jpg");
}

 #canvas{ 
    top: 39px;
 }

#statusboks{
    position: absolute;
    right: 272px;
    top: 105px;
    width:122px;
    height: 18px;
    background-color: gray;
    z-index: 2;
}

#statusbak{
    position: absolute;
    right: 272px;
    top: 105px;
    width:122px;
    height: 18px;
    background-color: #d17172;
    z-index: 1;
}

#boks{
    position: absolute;
    left: 270px;
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 0px;
    font-size: 12px;
}

#boks p{
    text-align: center;
    line-height: 90px;
}

#sekunder{
   font-size:3em;
   padding: 5px;
   color: #d17172;
}

#wrapper{
    width: 167px;
    height: 123px;
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 2;
    background-image: url("../bilder/snakkeboble.png");
}

#kommando {
    text-align: center;
    font-size: 1em;
    margin: auto;
    position: absolute;
    top: 37px; left: 0; right: 0;
}

#steven {
    position: absolute;
    top: 108px;
    right: 40px;
    width: 82px;
    height: 241px;
    z-index: 2;
    background-image: url("../bilder/steven.png");
}

#snakkeboble {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}