#form{
    position: absolute;
    left: 200px;
    top:140px;
    z-index: -1;
    
}

#canvas{
    top:80px;
}

#container {
    background-image: url("../bilder/scene_form.jpg"); 
}

#fornavn {
    width: 90px;
}

#etternavn {
    width: 83px;
}