/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.jan.2015, 13:39:57
    Author     : microtonickitten
*/

#container {
    background-image: url("../bilder/scene_manus.jpg");
}

 #canvas{ 
    top:70px;
 }
 
#manus {
    position: relative;
    height: 220px;
    width: 180px;
    margin-left: 260px;
    margin-top: 50px;
    background-color: red;
    text-align: right;
}

#manus p{
    padding:10px;
    color:green;
}

#manus h1{
    padding:10px;
    color:blue;
}
