@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


html {
    min-width: 100% !important;
}

body{
  background-image: url(../bilder/pixel_bg.jpg);
  font-family:'Open Sans',sans-serif;
  color: #555;
  
  min-width: 100%;

}


#endre-passord-container, #highscore-container, #gl-container, .chat-container{
  width:400px;
  margin:0 auto;
  margin-top:75px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  
  border: 1px solid rgb(231, 231, 231);
  
  background: white;
  
  box-shadow: 0px 0px 10px rgba(70,70,70,0.4);

}





#endre-passord-container h1, #highscore-container h1, #gl-container h1, .oversikt-container h1, .chat-container h1{
  margin: 0;
  background:rgb(248, 248, 248);
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  
  
  border-bottom: 1px solid rgb(231, 231, 231);

}

.chat-container {
    width: 750px;
    
}

#gl-container {
    width: 750px;
}

#gl-container div {
   width:92%;

}
#gl-container .gl-header {
    
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition:background .3s;
    
    
}
.gl-header:nth-child(2n) {
    background: #e7e7e7;
}
.gl-header:nth-child(2n + 1) {
    background: #f0f0f0;
}
.gl-header:hover {
    background: #d5d5d5 !important;
}


.gl-header span {
    float: right;
    margin-right: 12px;
}

.gl-godkjent:nth-child(2n + 1) {
    color: white;
    background-color: #7dd08e !important;
}

.gl-godkjent:nth-child(2n) {
    color: white;
    background-color: #6ac97e !important;
 
}
.gl-godkjent:hover {
    background: #58c26d !important;
}



.gl-ikke-godkjent {

    color: #555;
}
.gl-ikke-godkjent:hover {
    background: #eee;
}


#gl-container .gl-content {
    background: #fafafa;
    display: none;
    padding : 5px;
      
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    
    box-shadow: 0px 0px 10px rgba(70,70,70,0.4);
    margin: 0 auto;
    

}

.gl-content table {
    width: 92%;
    
  
}




form{
  background:#fff;
  padding:6% 4%;
  padding-top: 1%;

}

input[type="email"],input[type="password"],input[type="text"] {
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;

}


input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;

}

input[type="submit"]:hover{
  background:#2288bb;
}

input[type="submit"]:disabled {
    
    color: #959595;
    background: rgb(248, 248, 248);
}



.melding-error {
   color: red;
}

.melding-suksess {
   color: green;
}

.melding {
       height: 1.1em;
       padding: 0em;
}


#highscore-container {
    width: 750px;
    min-height: 400px;
    background: white;
}

#highscore-container table  {
    
    font-size: 120%;
    width: 90%;
    font-weight:300;
    border-color: rgb(248, 248, 248);
}

#highscore-container .plass1 {
  color:gold;
 
}

#highscore-container .plass2 {
  color:silver;
}

#highscore-container .plass3  {
  color: #cd7f32;
}

#highscore-container h1 {
    position: relative;
}

#oppdater-highscores {
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    width: 32px;
}


#oppdater-highscores img {
    height: 100%;
    width: 100%;

}

#oppdater-highscores img:hover {
    -webkit-animation:spin .8s linear infinite;
    -moz-animation:spin .8s linear infinite;
    animation:spin .8s linear infinite;
    
    
    

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#nas-logo {
    position: absolute;
    
    left: 5px;
    top: 5px;
    height: 40px;
    
}

.gl-cover {
    z-index: 900;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    margin: 0em !important;
    padding: 0em;

    
    
    background: rgba(0,0,0,0.25);

}

.oversikt-container {
  z-index: 1000;
  width:500px !important;
  
  margin:0 auto;
  margin-top: -300px;
  margin-left:-250px;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  
  border: 1px solid rgb(231, 231, 231);
  
  background: white;
  
  box-shadow: 0px 0px 10px rgba(70,70,70,0.4);
  
  position: fixed;
  top: 50%;
  left: 50%;
  
  
}

.min-oversikt-container {
  z-index: 1000;
  width:500px !important;
  
  margin:75px auto;

  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  
  border: 1px solid rgb(231, 231, 231);
  
  background: white;
  
  box-shadow: 0px 0px 10px rgba(70,70,70,0.4);
  

  
  
}


.oversikt-container h2 {
  margin: 0;
  background:rgb(248, 248, 248);
  padding:8px 0;
  font-size:120%;
  font-weight:500;
  text-align:center;
  
  
  border-bottom: 1px solid rgb(231, 231, 231);

}
.oversikt-container h3{
  margin: 0;
  background:rgb(248, 248, 248);
  padding:8px 0;
  font-size:100%;
  font-weight:500;
  text-align:center;
  
  
  border-bottom: 1px solid rgb(231, 231, 231);

}


.oversikt-container table {
    width: 100%;
   
}

.oversikt-container table tr td, .oversikt-container table tr th {
        padding: 2px 12px;
        
}

.oversikt-container table tr td:nth-child(1), .oversikt-container table tr th:nth-child(1) {
       width: 18px;
        
}

.oversikt-container table tr:nth-child(2n + 1) {

    background: #f7f7f7;
}
.oversikt-container table tr:nth-child(2n) {
    background: #f0f0f0;
}

.oversikt-container form {
    margin: 0;
    width: 100%;
    padding: 0;
    
}

